@media (max-width: 1200px)
    .container
        width: 94%
    .header
        &-wrapper
            width: 95%
        &-menu
            width: 830px
    .main
        &__title
            width: 1000px
            font-size: 55px
    .swiper-container 
        width: 1000px
        min-height: 555px
    .offer
        &__title
            font-size: 55px
        &__matter
            font-size: 33px
@media (max-width: 1090px)
    .container
        width: 93%
    .header
        &-text
            font-size: 14px
        &-menu
            max-width: 740px
            &__link
                font-size: 14px
                &-get
                    font-size: 14px
                    width: 80px
                    min-height: 50px
    .main
        &-wrapper
            margin-bottom: 80px
        &__title
            width: 790px
            font-size: 42px
    .swiper-container 
        width: 900px
        min-height: 485px
    .offer
        &__title
            font-size: 50px
            margin-bottom: 35px
        &__matter
            font-size: 28px
            margin-bottom: 20px
        &__text
            font-size: 24px
@media (max-width: 992px)
    .container
        width: 98%
    .header
        &-wrapper
            justify-content: space-evenly
            width: 98%
        &-text
            font-size: 13px
        &-menu
            max-width: 650px
            &__link
                font-size: 13px
                &-get
                    font-size: 13px
                    width: 75px
                    min-height: 40px
    .main
        &__title
            width: 650px
            font-size: 35px
            min-height: 200px
    .swiper-container 
        width: 830px
        min-height: 380px
    .offer
        &__title
            font-size: 40px
            margin-bottom: 25px
        &__matter
            font-size: 20px
            margin-bottom: 10px
        &__text
            font-size: 18px
@media (max-width: 850px)
    .header
        &-menu
            width: 600px
            &__link
                font-size: 12px
                &-get
                    font-size: 12px
                    width: 72px
                    min-height: 35px
    .main
        &__title
            width: 600px
            font-size: 33px
            min-height: 200px
    .swiper-container 
        width: 748px
        min-height: 460px
    .offer
        &__title
            margin-bottom: 20px
        &__matter
            font-size: 25px
            margin-bottom: 8px
@media (max-width: 768px)
    .logo
        &__image
            width: 75px
            height: 80px
    .container
        max-width: 576px
        width: 92%
    .header
        &-text
            letter-spacing: 0
            margin-right: 100px
        &-menu
            display: none
        &-wrapper
            justify-content: space-between
        &-right
            display: flex
            align-items: center
    .menu
        &-button
            width: 16px
            height: 11px
            border: none
            background-color: #fff
            display: flex
            padding: 0
            align-items: center
            cursor: pointer
            justify-content: space-between
            flex-direction: column
            &__line
                width: 16px
                height: 2px
                background-color: $primary
    .main
        &-wrapper
            margin-bottom: 60px
        &__title
            width: 550px
            font-size: 30px
            min-height: 200px
    .swiper-container 
        width: 520px
        min-height: 460px
    .offer
        &__title
            font-size: 28px
            margin-bottom: 18px
        &__matter
            font-size: 20px
        &__text
            padding: 5px 10px 10px 10px
            font-size: 15px
// @media (max-width: 750px)
// @media (max-width: 700px)
@media (max-width: 576px)
    .header
        &-text
            display: none
    .main
        &__title
            width: 440px
            font-size: 24px
            min-height: 200px
    .swiper-container 
        width: 400px
        min-height: 560px
    .offer
        &__title
            margin-bottom: 15px
        &__matter
            font-size: 16px
        &__text
            font-size: 14px
@media (max-width: 450px)
    .main
        &__title
            width: 340px
            font-size: 18px
            min-height: 200px
    .swiper-container 
        width: 300px
        min-height: 565px
    .offer
        &__title
            margin-bottom: 12px
        &__matter
            font-size: 14px
            margin-bottom: 6px
        &__text
            font-size: 12px
            padding: 0
@media (max-width: 350px)
    .main
        &__title
            width: 300px
            font-size: 16px
            min-height: 200px