@media (max-width: 1200px)
    .header
        &-wrapper
            max-width: 950px
        &-menu
            max-width: 780px
            &__link
                font-size: 15px
@media (max-width: 992px)
    .header
        &-wrapper
            max-width: 800px
// @media (max-width: 768px)
// @media (max-width: 750px)
// @media (max-width: 700px)
// @media (max-width: 576px)
// @media (max-width: 350px)
