.swiper-container 
    width: 1150px
    min-height: 530px
.offer
    &-wrapper
        margin-bottom: 80px
    &__title
        margin: 0
        margin-bottom: 30px
        font-style: normal
        font-weight: normal
        font-size: 60px
        text-align: center
        letter-spacing: 0.2em
    &__matter
        margin: 0
        margin-bottom: 30px
        font-style: normal
        font-weight: normal
        font-size: 35px
        text-align: center
        letter-spacing: 0.1em
    &__background
        background: linear-gradient(90deg, rgba(255, 187, 0, .5) 50%, rgba(255, 187, 0, 1) 100%)
        border-radius: 35px
    &__text
        padding: 10px 20px 20px 20px
        font-style: normal
        font-weight: 600
        font-size: 28px
        line-height: 34px
        text-align: center
.swiper
  &-pagination
    &-bullet
      background: $black
      margin: 0
